In [1]:
import pandas as pd
import os

# Load dataset
file_path = r"C:\Users\SKY\Desktop\JOB prep\Project-2 Customer Churn\Data\WA_Fn-UseC_-Telco-Customer-Churn.csv"
df = pd.read_csv(file_path)

print("Initial shape:", df.shape)
df.head()

Initial shape: (7043, 21)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [2]:
# Check duplicates
print("Duplicate customerIDs:", df['customerID'].duplicated().sum())

# Check missing values
print("\nMissing values per column:\n", df.isnull().sum())

# Data types overview
print("\nData types:\n", df.dtypes)

Duplicate customerIDs: 0

Missing values per column:
 customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

Data types:
 customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [3]:
# Convert TotalCharges to numeric (coerce errors -> NaN)
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

# Fill blanks with 0
df['TotalCharges'] = df['TotalCharges'].fillna(0)

print("TotalCharges conversion done. Nulls left:", df['TotalCharges'].isnull().sum())

TotalCharges conversion done. Nulls left: 0

In [4]:
# Mapping for binary conversion
binary_map = {"Yes": 1, "No": 0, "Male": 1, "Female": 0}

# Identify all columns with only Yes/No or Male/Female
binary_candidate_cols = []
for col in df.columns:
    unique_vals = set(df[col].unique())
    if unique_vals.issubset({"Yes", "No"}):
        binary_candidate_cols.append(col)
    if unique_vals.issubset({"Male", "Female"}):
        binary_candidate_cols.append(col)

print("Binary candidate columns:", binary_candidate_cols)

Binary candidate columns: ['gender', 'Partner', 'Dependents', 'PhoneService', 'PaperlessBilling', 'Churn']

In [5]:
# Create binary versions of identified columns
for col in binary_candidate_cols:
    df[col + "_bin"] = df[col].map(binary_map)

print("✅ Binary columns created:")
print(df.filter(like="_bin").head())

✅ Binary columns created:
   gender_bin  Partner_bin  Dependents_bin  PhoneService_bin  \
0           0            1               0                 0
1           1            0               0                 1
2           1            0               0                 1
3           1            0               0                 0
4           0            0               0                 1

   PaperlessBilling_bin  Churn_bin
0                     1          0
1                     0          0
2                     1          1
3                     0          0
4                     1          1

In [6]:
# Save cleaned dataset in same folder with _cleaned suffix
cleaned_path = os.path.splitext(file_path)[0] + "_cleaned.csv"
df.to_csv(cleaned_path, index=False)

print(f"✅ Cleaned dataset saved at: {cleaned_path}")
print("Final shape:", df.shape)

✅ Cleaned dataset saved at: C:\Users\SKY\Desktop\JOB prep\Project-2 Customer Churn\Data\WA_Fn-UseC_-Telco-Customer-Churn_cleaned.csv
Final shape: (7043, 27)